/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


#datetime-picker {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 272px;
  margin-right: 8px;
  transition: border-color 0.2s;
}

#datetime-picker:hover {
  border-color: #000000;
}

#datetime-picker:focus {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  background-color: #e0e0e0;
  color: #999;
  border-color: #e0e0e0;
  cursor: not-allowed;
}

button[data-start] {
  padding: 11px 18px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  color: #555;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[data-start]:disabled {
  background-color: #dcdcdc;
  color: #8f8f8f;
  cursor: not-allowed;
}

button[data-start]:enabled {
  background-color: #4e75ff;
  color: #fff;
}


button[data-start]:hover {
  background-color: #6c8cff;
  color: fff;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.field {
  text-align: center;
}

.value {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;;
}

.label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.container-snackbox {
  max-width: 360px;
  margin: 40px auto;
  font-family: "Inter", sans-serif;
  color: #333;
}

.back-link {
  margin-bottom: 16px;
}

.main-title {
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: start;
}

input[type="number"] {
  width: 92%;
  padding: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.15s;
  margin-top: 8px;
}

input[type="number"]:hover {
  border-color: #000000;
}

input[type="number"]:focus {
  border-color: #4e75ff;
}

fieldset {
  border: 1px solid #d0d0d0;
  padding: 14px 48px 8px 48px;
  border-radius: 8px;
}

legend {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: start;
}

fieldset label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-right: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}


input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #888;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: 0.2s border-color;
}

input[type="radio"]:hover {
  border-color: #4a78ff;
  transform: scale(1.1);
}

input[type="radio"]:checked {
  border-color: #4a78ff;
}

input[type="radio"]:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #4a78ff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.15s;
}

button[type="submit"]:hover {
  background: #6c8cff;
}